@tailwind base;
@tailwind components;
@tailwind utilities;
.list li {
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    color: Blue;
    user-select: none;
}

.no-wrap {
    white-space: nowrap;
}

.pointer {
    cursor: pointer;
    font-family: mo;
}

.scroll {
    overflow: scroll;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}


/* Optional: Add padding to prevent content from touching the edges */

.scroll {
    padding-right: 15px;
    /* Adjust as needed */
}

.scroll {
    height: inherit;
    /* Enable scrolling */
    scrollbar-width: none;
    /* Hide scrollbar on Firefox */
    -ms-overflow-style: none;
    /* Hide scrollbar on Internet Explorer and Edge */
}

.scroll {
    display: none;
    /* Hide scrollbar on Webkit browsers (Chrome, Safari) */
}