@tailwind base;
@tailwind components;
@tailwind utilities;
.list li {
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    color: Blue;
    user-select: none;
}

.no-wrap {
    white-space: nowrap;
}

.pointer {
    cursor: pointer;
    font-family: mo;
}